### H1B Data Exploration and Cleanup
______

#### Download Dataset

Run (MacOS/Linux)

```shell
chmod a+x download.sh
./download.sh
```
---------

#### Combine quarterly data into yearly data
Convert Excel to CSV since pandas read csv faster and this takes approximately one hour

In [1]:
import glob
import pandas as pd

In [2]:
years = ['2017', '2018', '2019', '2020', '2021', '2022']

print('Combining and Transforming excel file to csv')
for year in years:
    print(f'Starting Year {year}')
    file_list = glob.glob('data/' + year + '/*.xlsx')
    excel_list=[]
    num = len(file_list)
    for i in range(num):
        print(f'Reading File {i+1} / {num}')
        excel_list.append(pd.read_excel(file_list[i]))
    year_df = pd.DataFrame()
    for i in range(num):
        print(f'Combining File {i+1} / {num}')
        year_df = year_df.append(excel_list[i], ignore_index = True)
    print('Transforming File')
    year_df.to_csv ('data/' + year + '/raw.csv', index = None, header=True)
    print(f'File for Year {year} saved')

Combining and Transforming excel file to csv
Starting Year 2017
Reading File 1 / 1
Combining File 1 / 1

/var/folders/n3/2zl_918s5fs9rhg28gp6vsq00000gn/T/ipykernel_6130/1846149041.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  year_df = year_df.append(excel_list[i], ignore_index = True)

Transforming File
File for Year 2017 saved
Starting Year 2018
Reading File 1 / 1
Combining File 1 / 1

/var/folders/n3/2zl_918s5fs9rhg28gp6vsq00000gn/T/ipykernel_6130/1846149041.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  year_df = year_df.append(excel_list[i], ignore_index = True)

Transforming File
File for Year 2018 saved
Starting Year 2019
Reading File 1 / 1
Combining File 1 / 1

/var/folders/n3/2zl_918s5fs9rhg28gp6vsq00000gn/T/ipykernel_6130/1846149041.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  year_df = year_df.append(excel_list[i], ignore_index = True)

Transforming File
File for Year 2019 saved
Starting Year 2020
Reading File 1 / 4
Reading File 2 / 4
Reading File 3 / 4
Reading File 4 / 4
Combining File 1 / 4
Combining File 2 / 4

/var/folders/n3/2zl_918s5fs9rhg28gp6vsq00000gn/T/ipykernel_6130/1846149041.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  year_df = year_df.append(excel_list[i], ignore_index = True)

Combining File 3 / 4
Combining File 4 / 4
Transforming File
File for Year 2020 saved
Starting Year 2021
Reading File 1 / 4
Reading File 2 / 4
Reading File 3 / 4
Reading File 4 / 4
Combining File 1 / 4
Combining File 2 / 4

/var/folders/n3/2zl_918s5fs9rhg28gp6vsq00000gn/T/ipykernel_6130/1846149041.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  year_df = year_df.append(excel_list[i], ignore_index = True)

Combining File 3 / 4
Combining File 4 / 4
Transforming File
File for Year 2021 saved
Starting Year 2022
Reading File 1 / 4
Reading File 2 / 4
Reading File 3 / 4
Reading File 4 / 4
Combining File 1 / 4
Combining File 2 / 4

/var/folders/n3/2zl_918s5fs9rhg28gp6vsq00000gn/T/ipykernel_6130/1846149041.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  year_df = year_df.append(excel_list[i], ignore_index = True)

Combining File 3 / 4
Combining File 4 / 4
Transforming File
File for Year 2022 saved

Can safely delete Excel files (Optional)

Run (MacOS/Linux)
```
chmod a+x delete.sh
./delete.sh
```

______

#### Select Useful Columns

Take Year 2022 for example

In [3]:
df2022 = pd.read_csv('data/2022/raw.csv')
df2022.head()

/var/folders/n3/2zl_918s5fs9rhg28gp6vsq00000gn/T/ipykernel_6130/937220725.py:1: DtypeWarning: Columns (89) have mixed types. Specify dtype option on import or set low_memory=False.
  df2022 = pd.read_csv('data/2022/raw.csv')

,CASE_NUMBER,CASE_STATUS,RECEIVED_DATE,DECISION_DATE,ORIGINAL_CERT_DATE,VISA_CLASS,JOB_TITLE,SOC_CODE,SOC_TITLE,FULL_TIME_POSITION,...,WILLFUL_VIOLATOR,SUPPORT_H1B,STATUTORY_BASIS,APPENDIX_A_ATTACHED,PUBLIC_DISCLOSURE,PREPARER_LAST_NAME,PREPARER_FIRST_NAME,PREPARER_MIDDLE_INITIAL,PREPARER_BUSINESS_NAME,PREPARER_EMAIL
0,I-200-21270-606997,Certified,2021-09-26,2021-10-01,NaN,H-1B,APPLICATIONS SUPPORT ANALYST/ADMINISTRATOR,15-1132.00,"Software Developers, Applications",Y,...,No,NaN,NaN,NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN
1,I-200-21270-606867,Certified,2021-09-26,2021-10-01,NaN,H-1B,Designer,17-3013.00,Mechanical Drafters,Y,...,No,NaN,NaN,NaN,Disclose Business and Employment,Stacey,Francyne,NaN,Stacey Law Practice,francyne@staceylawpractice.com
2,I-200-21270-606846,Certified,2021-09-26,2021-10-01,NaN,H-1B,Data Analyst,15-2031.00,Operations Research Analysts,Y,...,No,NaN,NaN,NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN
3,I-200-21270-606842,Certified,2021-09-26,2021-10-01,NaN,H-1B,Pharmaceutical Chemist,19-2031.00,Chemists,Y,...,No,NaN,NaN,NaN,Disclose Business,JONNALAGADDA,SRINIVASA,R,"S. R. JONNALAGADDA, P.C.",Lawassociates@att.net
4,I-200-21270-606941,Certified,2021-09-26,2021-10-01,NaN,H-1B,Senior Systems Analyst JC60,15-1121.00,Computer Systems Analysts,Y,...,No,Yes,"$60,000 or higher annual wage",NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN

In [4]:
df2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 626084 entries, 0 to 626083
Data columns (total 96 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   CASE_NUMBER                     626084 non-null  object
 1   CASE_STATUS                     626084 non-null  object
 2   RECEIVED_DATE                   626084 non-null  object
 3   DECISION_DATE                   626084 non-null  object
 4   ORIGINAL_CERT_DATE              35336 non-null   object
 5   VISA_CLASS                      626084 non-null  object
 6   JOB_TITLE                       626084 non-null  object
 7   SOC_CODE                        626084 non-null  object
 8   SOC_TITLE                       626084 non-null  object
 9   FULL_TIME_POSITION              626084 non-null  object
 10  BEGIN_DATE                      626084 non-null  object
 11  END_DATE                        626084 non-null  object
 12  TOTAL_WORKER_POSITIONS          626084 non-null  int64
 13  NEW_EMPLOYMENT                  626084 non-null  int64
 14  CONTINUED_EMPLOYMENT            626084 non-null  int64
 15  CHANGE_PREVIOUS_EMPLOYMENT      626084 non-null  int64
 16  NEW_CONCURRENT_EMPLOYMENT       626084 non-null  int64
 17  CHANGE_EMPLOYER                 626084 non-null  int64
 18  AMENDED_PETITION                626084 non-null  int64
 19  EMPLOYER_NAME                   626084 non-null  object
 20  TRADE_NAME_DBA                  58174 non-null   object
 21  EMPLOYER_ADDRESS1               626084 non-null  object
 22  EMPLOYER_ADDRESS2               284917 non-null  object
 23  EMPLOYER_CITY                   626084 non-null  object
 24  EMPLOYER_STATE                  625986 non-null  object
 25  EMPLOYER_POSTAL_CODE            626084 non-null  object
 26  EMPLOYER_COUNTRY                626084 non-null  object
 27  EMPLOYER_PROVINCE               38690 non-null   object
 28  EMPLOYER_PHONE                  626084 non-null  int64
 29  EMPLOYER_PHONE_EXT              36052 non-null   float64
 30  NAICS_CODE                      626084 non-null  int64
 31  EMPLOYER_POC_LAST_NAME          626083 non-null  object
 32  EMPLOYER_POC_FIRST_NAME         626081 non-null  object
 33  EMPLOYER_POC_MIDDLE_NAME        115920 non-null  object
 34  EMPLOYER_POC_JOB_TITLE          626084 non-null  object
 35  EMPLOYER_POC_ADDRESS1           626084 non-null  object
 36  EMPLOYER_POC_ADDRESS2           293213 non-null  object
 37  EMPLOYER_POC_CITY               626084 non-null  object
 38  EMPLOYER_POC_STATE              625432 non-null  object
 39  EMPLOYER_POC_POSTAL_CODE        626078 non-null  object
 40  EMPLOYER_POC_COUNTRY            626084 non-null  object
 41  EMPLOYER_POC_PROVINCE           758 non-null     object
 42  EMPLOYER_POC_PHONE              626084 non-null  int64
 43  EMPLOYER_POC_PHONE_EXT          37918 non-null   float64
 44  EMPLOYER_POC_EMAIL              612076 non-null  object
 45  AGENT_REPRESENTING_EMPLOYER     626084 non-null  object
 46  AGENT_ATTORNEY_LAST_NAME        462280 non-null  object
 47  AGENT_ATTORNEY_FIRST_NAME       462278 non-null  object
 48  AGENT_ATTORNEY_MIDDLE_NAME      234208 non-null  object
 49  AGENT_ATTORNEY_ADDRESS1         462280 non-null  object
 50  AGENT_ATTORNEY_ADDRESS2         363083 non-null  object
 51  AGENT_ATTORNEY_CITY             462280 non-null  object
 52  AGENT_ATTORNEY_STATE            444749 non-null  object
 53  AGENT_ATTORNEY_POSTAL_CODE      462280 non-null  object
 54  AGENT_ATTORNEY_COUNTRY          462280 non-null  object
 55  AGENT_ATTORNEY_PROVINCE         44698 non-null   object
 56  AGENT_ATTORNEY_PHONE            462280 non-null  float64
 57  AGENT_ATTORNEY_PHONE_EXT        28473 non-null   float64
 58  AGENT_ATTORNEY_EMAIL_ADDRESS    462231 non-null  object
 59  LAWFIRM_NAME_BUSINESS_NAME      462280 non-null  object
 60  STATE_OF_HIGHEST_COURT          461415 non-null  object
 61  NAME_OF_HIGHEST_STATE_COURT     461411 non-null  object
 62  WORKSITE_WORKERS                626084 non-null  int64
 63  SECONDARY_ENTITY                626084 non-null  object
 64  SECONDARY_ENTITY_BUSINESS_NAME  133699 non-null  object
 65  WORKSITE_ADDRESS1               626084 non-null  object
 66  WORKSITE_ADDRESS2               186459 non-null  object
 67  WORKSITE_CITY                   626073 non-null  object
 68  WORKSITE_COUNTY                 626082 non-null  object
 69  WORKSITE_STATE                  626084 non-null  object
 70  WORKSITE_POSTAL_CODE            626084 non-null  object
 71  WAGE_RATE_OF_PAY_FROM           626084 non-null  float64
 72  WAGE_RATE_OF_PAY_TO             201966 non-null  float64
 73  WAGE_UNIT_OF_PAY                626084 non-null  object
 74  PREVAILING_WAGE                 626084 non-null  float64
 75  PW_UNIT_OF_PAY                  626084 non-null  object
 76  PW_TRACKING_NUMBER              1127 non-null    object
 77  PW_WAGE_LEVEL                   597467 non-null  object
 78  PW_OES_YEAR                     599772 non-null  object
 79  PW_OTHER_SOURCE                 25185 non-null   object
 80  PW_OTHER_YEAR                   25185 non-null   float64
 81  PW_SURVEY_PUBLISHER             19283 non-null   object
 82  PW_SURVEY_NAME                  19279 non-null   object
 83  TOTAL_WORKSITE_LOCATIONS        626084 non-null  int64
 84  AGREE_TO_LC_STATEMENT           626084 non-null  object
 85  H_1B_DEPENDENT                  611280 non-null  object
 86  WILLFUL_VIOLATOR                611277 non-null  object
 87  SUPPORT_H1B                     167700 non-null  object
 88  STATUTORY_BASIS                 167013 non-null  object
 89  APPENDIX_A_ATTACHED             521 non-null     object
 90  PUBLIC_DISCLOSURE               625919 non-null  object
 91  PREPARER_LAST_NAME              322409 non-null  object
 92  PREPARER_FIRST_NAME             322601 non-null  object
 93  PREPARER_MIDDLE_INITIAL         112264 non-null  object
 94  PREPARER_BUSINESS_NAME          330106 non-null  object
 95  PREPARER_EMAIL                  327079 non-null  object
dtypes: float64(8), int64(12), object(76)
memory usage: 458.6+ MB

Some of the columns are obviously useless

In [5]:
columns = [
    'JOB_TITLE',
    'SOC_TITLE',
    'FULL_TIME_POSITION',
    'BEGIN_DATE',
    'END_DATE',
    'EMPLOYER_NAME',
    'EMPLOYER_CITY',
    'EMPLOYER_STATE',
    'EMPLOYER_COUNTRY',
    'WAGE_RATE_OF_PAY_FROM',
    'WAGE_RATE_OF_PAY_TO',
    'WAGE_UNIT_OF_PAY',
    'PREVAILING_WAGE',
    'PW_UNIT_OF_PAY',
    'H_1B_DEPENDENT'
]

In [6]:
df2022 = df2022[columns]
df2022.head(5)

,JOB_TITLE,SOC_TITLE,FULL_TIME_POSITION,BEGIN_DATE,END_DATE,EMPLOYER_NAME,EMPLOYER_CITY,EMPLOYER_STATE,EMPLOYER_COUNTRY,WAGE_RATE_OF_PAY_FROM,WAGE_RATE_OF_PAY_TO,WAGE_UNIT_OF_PAY,PREVAILING_WAGE,PW_UNIT_OF_PAY,H_1B_DEPENDENT
0,APPLICATIONS SUPPORT ANALYST/ADMINISTRATOR,"Software Developers, Applications",Y,2021-10-01,2024-09-30,SUEZ WATER MANAGEMENT & SERVICES INC.,Paramus,NJ,UNITED STATES OF AMERICA,92000.0,NaN,Year,87485.0,Year,No
1,Designer,Mechanical Drafters,Y,2021-10-11,2024-10-10,"Sensors, Inc",Saline,MI,UNITED STATES OF AMERICA,56181.0,61000.0,Year,56181.0,Year,No
2,Data Analyst,Operations Research Analysts,Y,2021-10-01,2024-09-30,"HSP Group, Inc.",Bonita Springs,FL,UNITED STATES OF AMERICA,60000.0,NaN,Year,59238.0,Year,No
3,Pharmaceutical Chemist,Chemists,Y,2021-10-01,2024-09-30,"ANIP Acquisitions, Inc.",Baudette,MN,UNITED STATES OF AMERICA,56160.0,NaN,Year,53851.0,Year,No
4,Senior Systems Analyst JC60,Computer Systems Analysts,Y,2021-10-15,2024-10-14,COGNIZANT TECHNOLOGY SOLUTIONS US CORP,COLLEGE STATION,TX,UNITED STATES OF AMERICA,70325.0,NaN,Year,70325.0,Year,Yes

We also only want to look at jobs in the US

In [7]:
df2022 = df2022[df2022['EMPLOYER_COUNTRY'] == 'UNITED STATES OF AMERICA']
df2022.head(5)

,JOB_TITLE,SOC_TITLE,FULL_TIME_POSITION,BEGIN_DATE,END_DATE,EMPLOYER_NAME,EMPLOYER_CITY,EMPLOYER_STATE,EMPLOYER_COUNTRY,WAGE_RATE_OF_PAY_FROM,WAGE_RATE_OF_PAY_TO,WAGE_UNIT_OF_PAY,PREVAILING_WAGE,PW_UNIT_OF_PAY,H_1B_DEPENDENT
0,APPLICATIONS SUPPORT ANALYST/ADMINISTRATOR,"Software Developers, Applications",Y,2021-10-01,2024-09-30,SUEZ WATER MANAGEMENT & SERVICES INC.,Paramus,NJ,UNITED STATES OF AMERICA,92000.0,NaN,Year,87485.0,Year,No
1,Designer,Mechanical Drafters,Y,2021-10-11,2024-10-10,"Sensors, Inc",Saline,MI,UNITED STATES OF AMERICA,56181.0,61000.0,Year,56181.0,Year,No
2,Data Analyst,Operations Research Analysts,Y,2021-10-01,2024-09-30,"HSP Group, Inc.",Bonita Springs,FL,UNITED STATES OF AMERICA,60000.0,NaN,Year,59238.0,Year,No
3,Pharmaceutical Chemist,Chemists,Y,2021-10-01,2024-09-30,"ANIP Acquisitions, Inc.",Baudette,MN,UNITED STATES OF AMERICA,56160.0,NaN,Year,53851.0,Year,No
4,Senior Systems Analyst JC60,Computer Systems Analysts,Y,2021-10-15,2024-10-14,COGNIZANT TECHNOLOGY SOLUTIONS US CORP,COLLEGE STATION,TX,UNITED STATES OF AMERICA,70325.0,NaN,Year,70325.0,Year,Yes

In [8]:
df2022.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 625986 entries, 0 to 626083
Data columns (total 15 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   JOB_TITLE              625986 non-null  object
 1   SOC_TITLE              625986 non-null  object
 2   FULL_TIME_POSITION     625986 non-null  object
 3   BEGIN_DATE             625986 non-null  object
 4   END_DATE               625986 non-null  object
 5   EMPLOYER_NAME          625986 non-null  object
 6   EMPLOYER_CITY          625986 non-null  object
 7   EMPLOYER_STATE         625986 non-null  object
 8   EMPLOYER_COUNTRY       625986 non-null  object
 9   WAGE_RATE_OF_PAY_FROM  625986 non-null  float64
 10  WAGE_RATE_OF_PAY_TO    201930 non-null  float64
 11  WAGE_UNIT_OF_PAY       625986 non-null  object
 12  PREVAILING_WAGE        625986 non-null  float64
 13  PW_UNIT_OF_PAY         625986 non-null  object
 14  H_1B_DEPENDENT         611189 non-null  object
dtypes: float64(3), object(12)
memory usage: 76.4+ MB

In [9]:
df2022['FULL_TIME_POSITION'].describe()

count     625986
unique         2
top            Y
freq      617691
Name: FULL_TIME_POSITION, dtype: object

* END_DATE is three years after BEGIN_DATE. 

* WAGE_RATE_OF_PAY_TO has many NaN value.

* We do not need EMPLOYER_COUNTRY anymore.

* For H1-B, full-time position is mostly needed.

* So, we drop these columns.

In [10]:
df2022 = df2022.drop(labels=['END_DATE', 'WAGE_RATE_OF_PAY_TO', 'EMPLOYER_COUNTRY', 'FULL_TIME_POSITION'], axis=1)
df2022.head(5)

,JOB_TITLE,SOC_TITLE,BEGIN_DATE,EMPLOYER_NAME,EMPLOYER_CITY,EMPLOYER_STATE,WAGE_RATE_OF_PAY_FROM,WAGE_UNIT_OF_PAY,PREVAILING_WAGE,PW_UNIT_OF_PAY,H_1B_DEPENDENT
0,APPLICATIONS SUPPORT ANALYST/ADMINISTRATOR,"Software Developers, Applications",2021-10-01,SUEZ WATER MANAGEMENT & SERVICES INC.,Paramus,NJ,92000.0,Year,87485.0,Year,No
1,Designer,Mechanical Drafters,2021-10-11,"Sensors, Inc",Saline,MI,56181.0,Year,56181.0,Year,No
2,Data Analyst,Operations Research Analysts,2021-10-01,"HSP Group, Inc.",Bonita Springs,FL,60000.0,Year,59238.0,Year,No
3,Pharmaceutical Chemist,Chemists,2021-10-01,"ANIP Acquisitions, Inc.",Baudette,MN,56160.0,Year,53851.0,Year,No
4,Senior Systems Analyst JC60,Computer Systems Analysts,2021-10-15,COGNIZANT TECHNOLOGY SOLUTIONS US CORP,COLLEGE STATION,TX,70325.0,Year,70325.0,Year,Yes

______

#### Explore Data and Standarize Features

##### Date to Year

In [11]:
df2022['BEGIN_DATE'].describe()

count         625986
unique          1251
top       2022-10-01
freq          100201
Name: BEGIN_DATE, dtype: object

From consensus, salary among different days in one year should not differ from each other much.

So we care mostly about which year it is.

In [12]:
df2022['BEGIN_YEAR'] = df2022['BEGIN_DATE'].astype('str').map(lambda s: s[:4])
df2022['BEGIN_YEAR'].describe()

count     625986
unique         5
top         2022
freq      513283
Name: BEGIN_YEAR, dtype: object

In [13]:
df2022 = df2022.drop(labels=['BEGIN_DATE'], axis=1)

##### Standarize Salary

In [14]:
df2022['WAGE_UNIT_OF_PAY'].describe()

count     625986
unique         5
top         Year
freq      590810
Name: WAGE_UNIT_OF_PAY, dtype: object

In [15]:
df2022['PW_UNIT_OF_PAY'].describe()

count     625986
unique         5
top         Year
freq      591091
Name: PW_UNIT_OF_PAY, dtype: object

In [16]:
df2022['WAGE_UNIT_OF_PAY'].unique()

array(['Year', 'Hour', 'Bi-Weekly', 'Week', 'Month'], dtype=object)

* Different companies pay salary with different frequency. 

* Need to make them all in unit of Year.

* Assuming everyone works **40 hours per week, 4 weeks per month, 12 months per year**

In [17]:
for _, row in df2022.iterrows():
    unit = row['WAGE_UNIT_OF_PAY']
    wage = row['WAGE_RATE_OF_PAY_FROM']
    if unit == 'Hour':
        row['WAGE_RATE_OF_PAY_FROM'] = wage * 40 * 4 * 12
    elif unit == 'Bi-Weekly':
        row['WAGE_RATE_OF_PAY_FROM'] = wage * 2 * 12
    elif unit == 'Week':
        row['WAGE_RATE_OF_PAY_FROM'] = wage * 4 * 12
    elif unit == 'Month':
        row['WAGE_RATE_OF_PAY_FROM'] = wage * 12

    pw_unit = row['PW_UNIT_OF_PAY']
    pw = row['PREVAILING_WAGE']
    if pw_unit == 'Hour':
        row['PREVAILING_WAGE'] = pw * 40 * 4 * 12
    elif pw_unit == 'Bi-Weekly':
        row['PREVAILING_WAGE'] = pw * 2 * 12
    elif pw_unit == 'Week':
        row['PREVAILING_WAGE'] = pw * 4 * 12
    elif pw_unit == 'Month':
        row['PREVAILING_WAGE'] = pw * 12

In [18]:
df2022['SALARY'] = df2022['WAGE_RATE_OF_PAY_FROM'].round()
df2022['AVERAGE_SALARY'] = df2022['PREVAILING_WAGE'].round()
df2022 = df2022.drop(labels=['WAGE_UNIT_OF_PAY', 'PW_UNIT_OF_PAY', 'WAGE_RATE_OF_PAY_FROM', 'PREVAILING_WAGE'], axis=1)

In [19]:
df2022[['SALARY', 'AVERAGE_SALARY']].head(10)

     SALARY  AVERAGE_SALARY
0   92000.0         87485.0
1   56181.0         56181.0
2   60000.0         59238.0
3   56160.0         53851.0
4   70325.0         70325.0
5   90730.0         90730.0
6  130000.0        104291.0
7   90000.0         69888.0
8   98550.0         98550.0
9  106933.0        106933.0

##### Standarize City Name and Employer Name

In [20]:
df2022.head(5)

,JOB_TITLE,SOC_TITLE,EMPLOYER_NAME,EMPLOYER_CITY,EMPLOYER_STATE,H_1B_DEPENDENT,BEGIN_YEAR,SALARY,AVERAGE_SALARY
0,APPLICATIONS SUPPORT ANALYST/ADMINISTRATOR,"Software Developers, Applications",SUEZ WATER MANAGEMENT & SERVICES INC.,Paramus,NJ,No,2021,92000.0,87485.0
1,Designer,Mechanical Drafters,"Sensors, Inc",Saline,MI,No,2021,56181.0,56181.0
2,Data Analyst,Operations Research Analysts,"HSP Group, Inc.",Bonita Springs,FL,No,2021,60000.0,59238.0
3,Pharmaceutical Chemist,Chemists,"ANIP Acquisitions, Inc.",Baudette,MN,No,2021,56160.0,53851.0
4,Senior Systems Analyst JC60,Computer Systems Analysts,COGNIZANT TECHNOLOGY SOLUTIONS US CORP,COLLEGE STATION,TX,Yes,2021,70325.0,70325.0

In [21]:
df2022['EMPLOYER_CITY'].str.upper().describe()

count       625986
unique        6253
top       NEW YORK
freq         31334
Name: EMPLOYER_CITY, dtype: object

In [22]:
df2022['EMPLOYER_CITY'].describe()

count      625986
unique       8363
top       Seattle
freq        26298
Name: EMPLOYER_CITY, dtype: object

In [23]:
df2022['EMPLOYER_NAME'].str.upper().describe()

count                      625986
unique                      66105
top       AMAZON.COM SERVICES LLC
freq                        16304
Name: EMPLOYER_NAME, dtype: object

In [24]:
df2022['EMPLOYER_NAME'].describe()

count                      625986
unique                      68960
top       Amazon.com Services LLC
freq                        14653
Name: EMPLOYER_NAME, dtype: object

* We can see that after making EMPLOYER_CITY and EMPLOYER_NAME Uppercase, their unique number changed.
  
* So we need to standarize them.
  
* Using **UPPERCASE** to standarize them

In [25]:
df2022['EMPLOYER'] = df2022['EMPLOYER_NAME'].str.upper()
df2022['CITY'] = df2022['EMPLOYER_CITY'].str.upper()
df2022 = df2022.drop(labels=['EMPLOYER_NAME', 'EMPLOYER_CITY'], axis=1)
df2022.head(5)

,JOB_TITLE,SOC_TITLE,EMPLOYER_STATE,H_1B_DEPENDENT,BEGIN_YEAR,SALARY,AVERAGE_SALARY,EMPLOYER,CITY
0,APPLICATIONS SUPPORT ANALYST/ADMINISTRATOR,"Software Developers, Applications",NJ,No,2021,92000.0,87485.0,SUEZ WATER MANAGEMENT & SERVICES INC.,PARAMUS
1,Designer,Mechanical Drafters,MI,No,2021,56181.0,56181.0,"SENSORS, INC",SALINE
2,Data Analyst,Operations Research Analysts,FL,No,2021,60000.0,59238.0,"HSP GROUP, INC.",BONITA SPRINGS
3,Pharmaceutical Chemist,Chemists,MN,No,2021,56160.0,53851.0,"ANIP ACQUISITIONS, INC.",BAUDETTE
4,Senior Systems Analyst JC60,Computer Systems Analysts,TX,Yes,2021,70325.0,70325.0,COGNIZANT TECHNOLOGY SOLUTIONS US CORP,COLLEGE STATION

##### Standarize Job Titles

In [26]:
df2022['SOC_TITLE'].describe()

count                                625986
unique                                 1057
top       Software Developers, Applications
freq                                 167633
Name: SOC_TITLE, dtype: object

In [27]:
df2022['SOC_TITLE'].str.upper().describe()

count                                625986
unique                                  918
top       SOFTWARE DEVELOPERS, APPLICATIONS
freq                                 167786
Name: SOC_TITLE, dtype: object

In [28]:
df2022['JOB_TITLE'].describe()

count                625986
unique               139328
top       Software Engineer
freq                  31255
Name: JOB_TITLE, dtype: object

* How to distingush jobs with same SOC_TITLE?
  
* How to aggregate similar JOB_TITLEs?

In [29]:
df2022['JOB_TITLE'].str.upper().describe()

count                625986
unique               131836
top       SOFTWARE ENGINEER
freq                  36512
Name: JOB_TITLE, dtype: object

In [51]:
df2022[['SOC_TITLE', 'JOB_TITLE']].groupby(by='SOC_TITLE').count().reset_index(False).sort_values(by='JOB_TITLE', ascending=False)

                                             SOC_TITLE  JOB_TITLE
805                  SOFTWARE DEVELOPERS, APPLICATIONS     167786
799                                SOFTWARE DEVELOPERS      35509
200                          COMPUTER SYSTEMS ANALYSTS      34224
813              SOFTWARE DEVELOPERS, SYSTEMS SOFTWARE      33871
210              COMPUTER SYSTEMS ENGINEERS/ARCHITECTS      22569
..                                                 ...        ...
76                    AUTOMOTIVE SPECIALTY TECHNICIANS          1
756                                            ROOFERS          1
587                              MIDDLE SCHOOL TEACHER          1
380  FIRST-LINE SUPERVISORS OF FARMING, FISHING, AN...          1
773                                    SECURITY GUARDS          1

[918 rows x 2 columns]

In [39]:
df2022['SOC_TITLE'] = df2022['SOC_TITLE'].str.upper()
df2022['JOB_TITLE'] = df2022['JOB_TITLE'].str.upper()

In [55]:
df2022[df2022['SOC_TITLE'] == 'COMPUTER SYSTEMS ENGINEERS/ARCHITECTS'][['JOB_TITLE','SOC_TITLE']].groupby('JOB_TITLE').count().reset_index(False).sort_values(by='SOC_TITLE', ascending=False).head(30)

                                              JOB_TITLE  SOC_TITLE
230                                           ARCHITECT       3763
3073  SENIOR ASSOCIATE JC60 - COMPUTER SYSTEMS ENGIN...       1073
2126          MANAGER JC50 - COMPUTER SYSTEMS ENGINEERS        690
4686                                   SYSTEMS ENGINEER        392
4583                             SYSTEM ARCHITECT - III        381
3853                                  SOFTWARE ENGINEER        345
4830                                     TECHNICAL LEAD        336
4792                                TECHNICAL ARCHITECT        318
731   COMPUTER SPECIALIST/SYSTEM SUPPORT AND DEVELOP...        286
759                           COMPUTER SYSTEMS ENGINEER        257
4946                         TECHNICAL SUPPORT ENGINEER        240
4042                                SOLUTIONS ARCHITECT        228
3978                                 SOLUTION ARCHITECT        227
2127  MANAGER JC50 - COMPUTER SYSTEMS ENGINEERS/ARCH...        194
4584                              SYSTEM ARCHITECT - IV        182
3349   SENIOR MANAGER JC45 - COMPUTER SYSTEMS ENGINEERS        153
730   COMPUTER SPECIALIST/SYSTEM SUPPORT AND DEVELOP...        149
141                               APPLICATION ARCHITECT        147
3998                              SOLUTION ARCHITECT II        131
3794                                 SOFTWARE ARCHITECT        129
4838                                  TECHNICAL MANAGER        125
1891                                    JAVA ENGINEER 2        118
4582                              SYSTEM ARCHITECT - II        117
3524                           SENIOR SOFTWARE ENGINEER        112
3765                          SITE RELIABILITY ENGINEER        112
258                                   ARCHITECT LEVEL 2        110
732   COMPUTER SPECIALIST/SYSTEM SUPPORT AND DEVELOP...        107
972                                       DATA ENGINEER        106
871                                   CUSTOMER ENGINEER         97
1914                 JUNIOR COMPUTER SYSTEMS ENGINEER 1         90

As the above exploration shown, we have a lot of different job titles under the same category of SOC title which will be hard to use for predicting models. We found that there are often a lot of keywords in job titles like JUNIOR, SENIOR, I,II, III, 1, 2, 3 marking the levels of different jobs, so we decide to use the combination of job title levels and soc title.

def levels(x):
    if x.str.contains == 'I'
df2022['Levels'] = df['SOC_TITLE'].apply(lambda x: levels(x))