# 2017-2022 H1B jobs salary prediction and lottery prediction

## Task & Motivation
---------

TODO:

## Dataset
---------

TODO:

#### Download Dataset

Run (MacOS/Linux)

```shell
chmod a+x download.sh
./download.sh
```

## Import
-------

In [48]:
import glob
import pandas as pd
import plotly.express as px

## EDA
______

### Data Preparation

#### Combine quarterly data into yearly data
Convert Excel to CSV since pandas read csv faster and this takes approximately one hour

In [2]:
years = ['2017', '2018', '2019', '2020', '2021', '2022']

print('Combining and Transforming excel file to csv')
for year in years:
    print(f'Starting Year {year}')
    file_list = glob.glob('data/' + year + '/*.xlsx')
    excel_list=[]
    num = len(file_list)
    for i in range(num):
        print(f'Reading File {i+1} / {num}')
        excel_list.append(pd.read_excel(file_list[i]))
    year_df = pd.DataFrame()
    for i in range(num):
        print(f'Combining File {i+1} / {num}')
        year_df = year_df.append(excel_list[i], ignore_index = True)
    print('Transforming File')
    year_df.to_csv ('data/' + year + '/raw.csv', index = None, header=True)
    print(f'File for Year {year} saved')

Combining and Transforming excel file to csv
Starting Year 2017
Reading File 1 / 1
Combining File 1 / 1

/var/folders/n3/2zl_918s5fs9rhg28gp6vsq00000gn/T/ipykernel_6130/1846149041.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  year_df = year_df.append(excel_list[i], ignore_index = True)

Transforming File
File for Year 2017 saved
Starting Year 2018
Reading File 1 / 1
Combining File 1 / 1

/var/folders/n3/2zl_918s5fs9rhg28gp6vsq00000gn/T/ipykernel_6130/1846149041.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  year_df = year_df.append(excel_list[i], ignore_index = True)

Transforming File
File for Year 2018 saved
Starting Year 2019
Reading File 1 / 1
Combining File 1 / 1

/var/folders/n3/2zl_918s5fs9rhg28gp6vsq00000gn/T/ipykernel_6130/1846149041.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  year_df = year_df.append(excel_list[i], ignore_index = True)

Transforming File
File for Year 2019 saved
Starting Year 2020
Reading File 1 / 4
Reading File 2 / 4
Reading File 3 / 4
Reading File 4 / 4
Combining File 1 / 4
Combining File 2 / 4

/var/folders/n3/2zl_918s5fs9rhg28gp6vsq00000gn/T/ipykernel_6130/1846149041.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  year_df = year_df.append(excel_list[i], ignore_index = True)

Combining File 3 / 4
Combining File 4 / 4
Transforming File
File for Year 2020 saved
Starting Year 2021
Reading File 1 / 4
Reading File 2 / 4
Reading File 3 / 4
Reading File 4 / 4
Combining File 1 / 4
Combining File 2 / 4

/var/folders/n3/2zl_918s5fs9rhg28gp6vsq00000gn/T/ipykernel_6130/1846149041.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  year_df = year_df.append(excel_list[i], ignore_index = True)

Combining File 3 / 4
Combining File 4 / 4
Transforming File
File for Year 2021 saved
Starting Year 2022
Reading File 1 / 4
Reading File 2 / 4
Reading File 3 / 4
Reading File 4 / 4
Combining File 1 / 4
Combining File 2 / 4

/var/folders/n3/2zl_918s5fs9rhg28gp6vsq00000gn/T/ipykernel_6130/1846149041.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  year_df = year_df.append(excel_list[i], ignore_index = True)

Combining File 3 / 4
Combining File 4 / 4
Transforming File
File for Year 2022 saved

Can safely delete Excel files (Optional)

Run (MacOS/Linux)
```
chmod a+x delete.sh
./delete.sh
```

______

#### Select Useful Columns

Take Year 2022 for example

In [33]:
df2022 = pd.read_csv('data/2022/raw.csv')
df2022.head()

/var/folders/5v/ngr5t86d7t7flrv7l2wlwy4r0000gn/T/ipykernel_43284/937220725.py:1: DtypeWarning: Columns (89) have mixed types. Specify dtype option on import or set low_memory=False.
  df2022 = pd.read_csv('data/2022/raw.csv')

,CASE_NUMBER,CASE_STATUS,RECEIVED_DATE,DECISION_DATE,ORIGINAL_CERT_DATE,VISA_CLASS,JOB_TITLE,SOC_CODE,SOC_TITLE,FULL_TIME_POSITION,...,WILLFUL_VIOLATOR,SUPPORT_H1B,STATUTORY_BASIS,APPENDIX_A_ATTACHED,PUBLIC_DISCLOSURE,PREPARER_LAST_NAME,PREPARER_FIRST_NAME,PREPARER_MIDDLE_INITIAL,PREPARER_BUSINESS_NAME,PREPARER_EMAIL
0,I-200-21270-606997,Certified,2021-09-26,2021-10-01,NaN,H-1B,APPLICATIONS SUPPORT ANALYST/ADMINISTRATOR,15-1132.00,"Software Developers, Applications",Y,...,No,NaN,NaN,NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN
1,I-200-21270-606867,Certified,2021-09-26,2021-10-01,NaN,H-1B,Designer,17-3013.00,Mechanical Drafters,Y,...,No,NaN,NaN,NaN,Disclose Business and Employment,Stacey,Francyne,NaN,Stacey Law Practice,francyne@staceylawpractice.com
2,I-200-21270-606846,Certified,2021-09-26,2021-10-01,NaN,H-1B,Data Analyst,15-2031.00,Operations Research Analysts,Y,...,No,NaN,NaN,NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN
3,I-200-21270-606842,Certified,2021-09-26,2021-10-01,NaN,H-1B,Pharmaceutical Chemist,19-2031.00,Chemists,Y,...,No,NaN,NaN,NaN,Disclose Business,JONNALAGADDA,SRINIVASA,R,"S. R. JONNALAGADDA, P.C.",Lawassociates@att.net
4,I-200-21270-606941,Certified,2021-09-26,2021-10-01,NaN,H-1B,Senior Systems Analyst JC60,15-1121.00,Computer Systems Analysts,Y,...,No,Yes,"$60,000 or higher annual wage",NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN

In [3]:
df2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 626084 entries, 0 to 626083
Data columns (total 96 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   CASE_NUMBER                     626084 non-null  object
 1   CASE_STATUS                     626084 non-null  object
 2   RECEIVED_DATE                   626084 non-null  object
 3   DECISION_DATE                   626084 non-null  object
 4   ORIGINAL_CERT_DATE              35336 non-null   object
 5   VISA_CLASS                      626084 non-null  object
 6   JOB_TITLE                       626084 non-null  object
 7   SOC_CODE                        626084 non-null  object
 8   SOC_TITLE                       626084 non-null  object
 9   FULL_TIME_POSITION              626084 non-null  object
 10  BEGIN_DATE                      626084 non-null  object
 11  END_DATE                        626084 non-null  object
 12  TOTAL_WORKER_POSITIONS          626084 non-null  int64
 13  NEW_EMPLOYMENT                  626084 non-null  int64
 14  CONTINUED_EMPLOYMENT            626084 non-null  int64
 15  CHANGE_PREVIOUS_EMPLOYMENT      626084 non-null  int64
 16  NEW_CONCURRENT_EMPLOYMENT       626084 non-null  int64
 17  CHANGE_EMPLOYER                 626084 non-null  int64
 18  AMENDED_PETITION                626084 non-null  int64
 19  EMPLOYER_NAME                   626084 non-null  object
 20  TRADE_NAME_DBA                  58174 non-null   object
 21  EMPLOYER_ADDRESS1               626084 non-null  object
 22  EMPLOYER_ADDRESS2               284917 non-null  object
 23  EMPLOYER_CITY                   626084 non-null  object
 24  EMPLOYER_STATE                  625986 non-null  object
 25  EMPLOYER_POSTAL_CODE            626084 non-null  object
 26  EMPLOYER_COUNTRY                626084 non-null  object
 27  EMPLOYER_PROVINCE               38690 non-null   object
 28  EMPLOYER_PHONE                  626084 non-null  int64
 29  EMPLOYER_PHONE_EXT              36052 non-null   float64
 30  NAICS_CODE                      626084 non-null  int64
 31  EMPLOYER_POC_LAST_NAME          626083 non-null  object
 32  EMPLOYER_POC_FIRST_NAME         626081 non-null  object
 33  EMPLOYER_POC_MIDDLE_NAME        115920 non-null  object
 34  EMPLOYER_POC_JOB_TITLE          626084 non-null  object
 35  EMPLOYER_POC_ADDRESS1           626084 non-null  object
 36  EMPLOYER_POC_ADDRESS2           293213 non-null  object
 37  EMPLOYER_POC_CITY               626084 non-null  object
 38  EMPLOYER_POC_STATE              625432 non-null  object
 39  EMPLOYER_POC_POSTAL_CODE        626078 non-null  object
 40  EMPLOYER_POC_COUNTRY            626084 non-null  object
 41  EMPLOYER_POC_PROVINCE           758 non-null     object
 42  EMPLOYER_POC_PHONE              626084 non-null  int64
 43  EMPLOYER_POC_PHONE_EXT          37918 non-null   float64
 44  EMPLOYER_POC_EMAIL              612076 non-null  object
 45  AGENT_REPRESENTING_EMPLOYER     626084 non-null  object
 46  AGENT_ATTORNEY_LAST_NAME        462280 non-null  object
 47  AGENT_ATTORNEY_FIRST_NAME       462278 non-null  object
 48  AGENT_ATTORNEY_MIDDLE_NAME      234208 non-null  object
 49  AGENT_ATTORNEY_ADDRESS1         462280 non-null  object
 50  AGENT_ATTORNEY_ADDRESS2         363083 non-null  object
 51  AGENT_ATTORNEY_CITY             462280 non-null  object
 52  AGENT_ATTORNEY_STATE            444749 non-null  object
 53  AGENT_ATTORNEY_POSTAL_CODE      462280 non-null  object
 54  AGENT_ATTORNEY_COUNTRY          462280 non-null  object
 55  AGENT_ATTORNEY_PROVINCE         44698 non-null   object
 56  AGENT_ATTORNEY_PHONE            462280 non-null  float64
 57  AGENT_ATTORNEY_PHONE_EXT        28473 non-null   float64
 58  AGENT_ATTORNEY_EMAIL_ADDRESS    462231 non-null  object
 59  LAWFIRM_NAME_BUSINESS_NAME      462280 non-null  object
 60  STATE_OF_HIGHEST_COURT          461415 non-null  object
 61  NAME_OF_HIGHEST_STATE_COURT     461411 non-null  object
 62  WORKSITE_WORKERS                626084 non-null  int64
 63  SECONDARY_ENTITY                626084 non-null  object
 64  SECONDARY_ENTITY_BUSINESS_NAME  133699 non-null  object
 65  WORKSITE_ADDRESS1               626084 non-null  object
 66  WORKSITE_ADDRESS2               186459 non-null  object
 67  WORKSITE_CITY                   626073 non-null  object
 68  WORKSITE_COUNTY                 626082 non-null  object
 69  WORKSITE_STATE                  626084 non-null  object
 70  WORKSITE_POSTAL_CODE            626084 non-null  object
 71  WAGE_RATE_OF_PAY_FROM           626084 non-null  float64
 72  WAGE_RATE_OF_PAY_TO             201966 non-null  float64
 73  WAGE_UNIT_OF_PAY                626084 non-null  object
 74  PREVAILING_WAGE                 626084 non-null  float64
 75  PW_UNIT_OF_PAY                  626084 non-null  object
 76  PW_TRACKING_NUMBER              1127 non-null    object
 77  PW_WAGE_LEVEL                   597467 non-null  object
 78  PW_OES_YEAR                     599772 non-null  object
 79  PW_OTHER_SOURCE                 25185 non-null   object
 80  PW_OTHER_YEAR                   25185 non-null   float64
 81  PW_SURVEY_PUBLISHER             19283 non-null   object
 82  PW_SURVEY_NAME                  19279 non-null   object
 83  TOTAL_WORKSITE_LOCATIONS        626084 non-null  int64
 84  AGREE_TO_LC_STATEMENT           626084 non-null  object
 85  H_1B_DEPENDENT                  611280 non-null  object
 86  WILLFUL_VIOLATOR                611277 non-null  object
 87  SUPPORT_H1B                     167700 non-null  object
 88  STATUTORY_BASIS                 167013 non-null  object
 89  APPENDIX_A_ATTACHED             521 non-null     object
 90  PUBLIC_DISCLOSURE               625919 non-null  object
 91  PREPARER_LAST_NAME              322409 non-null  object
 92  PREPARER_FIRST_NAME             322601 non-null  object
 93  PREPARER_MIDDLE_INITIAL         112264 non-null  object
 94  PREPARER_BUSINESS_NAME          330106 non-null  object
 95  PREPARER_EMAIL                  327079 non-null  object
dtypes: float64(8), int64(12), object(76)
memory usage: 458.6+ MB

Some of the columns are obviously useless

In [34]:
columns = [
    'JOB_TITLE',
    'SOC_TITLE',
    'FULL_TIME_POSITION',
    'BEGIN_DATE',
    'END_DATE',
    'EMPLOYER_NAME',
    'EMPLOYER_CITY',
    'EMPLOYER_STATE',
    'EMPLOYER_COUNTRY',
    'WAGE_RATE_OF_PAY_FROM',
    'WAGE_RATE_OF_PAY_TO',
    'WAGE_UNIT_OF_PAY',
    'PREVAILING_WAGE',
    'PW_UNIT_OF_PAY',
    'H_1B_DEPENDENT'
]

In [35]:
df2022 = df2022[columns]
df2022.head(5)

,JOB_TITLE,SOC_TITLE,FULL_TIME_POSITION,BEGIN_DATE,END_DATE,EMPLOYER_NAME,EMPLOYER_CITY,EMPLOYER_STATE,EMPLOYER_COUNTRY,WAGE_RATE_OF_PAY_FROM,WAGE_RATE_OF_PAY_TO,WAGE_UNIT_OF_PAY,PREVAILING_WAGE,PW_UNIT_OF_PAY,H_1B_DEPENDENT
0,APPLICATIONS SUPPORT ANALYST/ADMINISTRATOR,"Software Developers, Applications",Y,2021-10-01,2024-09-30,SUEZ WATER MANAGEMENT & SERVICES INC.,Paramus,NJ,UNITED STATES OF AMERICA,92000.0,NaN,Year,87485.0,Year,No
1,Designer,Mechanical Drafters,Y,2021-10-11,2024-10-10,"Sensors, Inc",Saline,MI,UNITED STATES OF AMERICA,56181.0,61000.0,Year,56181.0,Year,No
2,Data Analyst,Operations Research Analysts,Y,2021-10-01,2024-09-30,"HSP Group, Inc.",Bonita Springs,FL,UNITED STATES OF AMERICA,60000.0,NaN,Year,59238.0,Year,No
3,Pharmaceutical Chemist,Chemists,Y,2021-10-01,2024-09-30,"ANIP Acquisitions, Inc.",Baudette,MN,UNITED STATES OF AMERICA,56160.0,NaN,Year,53851.0,Year,No
4,Senior Systems Analyst JC60,Computer Systems Analysts,Y,2021-10-15,2024-10-14,COGNIZANT TECHNOLOGY SOLUTIONS US CORP,COLLEGE STATION,TX,UNITED STATES OF AMERICA,70325.0,NaN,Year,70325.0,Year,Yes

We also only want to look at jobs in the US

In [36]:
df2022 = df2022[df2022['EMPLOYER_COUNTRY'] == 'UNITED STATES OF AMERICA']
df2022.head(5)

,JOB_TITLE,SOC_TITLE,FULL_TIME_POSITION,BEGIN_DATE,END_DATE,EMPLOYER_NAME,EMPLOYER_CITY,EMPLOYER_STATE,EMPLOYER_COUNTRY,WAGE_RATE_OF_PAY_FROM,WAGE_RATE_OF_PAY_TO,WAGE_UNIT_OF_PAY,PREVAILING_WAGE,PW_UNIT_OF_PAY,H_1B_DEPENDENT
0,APPLICATIONS SUPPORT ANALYST/ADMINISTRATOR,"Software Developers, Applications",Y,2021-10-01,2024-09-30,SUEZ WATER MANAGEMENT & SERVICES INC.,Paramus,NJ,UNITED STATES OF AMERICA,92000.0,NaN,Year,87485.0,Year,No
1,Designer,Mechanical Drafters,Y,2021-10-11,2024-10-10,"Sensors, Inc",Saline,MI,UNITED STATES OF AMERICA,56181.0,61000.0,Year,56181.0,Year,No
2,Data Analyst,Operations Research Analysts,Y,2021-10-01,2024-09-30,"HSP Group, Inc.",Bonita Springs,FL,UNITED STATES OF AMERICA,60000.0,NaN,Year,59238.0,Year,No
3,Pharmaceutical Chemist,Chemists,Y,2021-10-01,2024-09-30,"ANIP Acquisitions, Inc.",Baudette,MN,UNITED STATES OF AMERICA,56160.0,NaN,Year,53851.0,Year,No
4,Senior Systems Analyst JC60,Computer Systems Analysts,Y,2021-10-15,2024-10-14,COGNIZANT TECHNOLOGY SOLUTIONS US CORP,COLLEGE STATION,TX,UNITED STATES OF AMERICA,70325.0,NaN,Year,70325.0,Year,Yes

In [7]:
df2022.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 625986 entries, 0 to 626083
Data columns (total 15 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   JOB_TITLE              625986 non-null  object
 1   SOC_TITLE              625986 non-null  object
 2   FULL_TIME_POSITION     625986 non-null  object
 3   BEGIN_DATE             625986 non-null  object
 4   END_DATE               625986 non-null  object
 5   EMPLOYER_NAME          625986 non-null  object
 6   EMPLOYER_CITY          625986 non-null  object
 7   EMPLOYER_STATE         625986 non-null  object
 8   EMPLOYER_COUNTRY       625986 non-null  object
 9   WAGE_RATE_OF_PAY_FROM  625986 non-null  float64
 10  WAGE_RATE_OF_PAY_TO    201930 non-null  float64
 11  WAGE_UNIT_OF_PAY       625986 non-null  object
 12  PREVAILING_WAGE        625986 non-null  float64
 13  PW_UNIT_OF_PAY         625986 non-null  object
 14  H_1B_DEPENDENT         611189 non-null  object
dtypes: float64(3), object(12)
memory usage: 76.4+ MB

In [8]:
df2022['FULL_TIME_POSITION'].describe()

count     625986
unique         2
top            Y
freq      617691
Name: FULL_TIME_POSITION, dtype: object

* END_DATE is three years after BEGIN_DATE. 

* WAGE_RATE_OF_PAY_TO has many NaN value.

* We do not need EMPLOYER_COUNTRY anymore.

* For H1-B, full-time position is mostly needed.

* So, we drop these columns.

In [37]:
df2022 = df2022.drop(labels=['END_DATE', 'WAGE_RATE_OF_PAY_TO', 'EMPLOYER_COUNTRY', 'FULL_TIME_POSITION'], axis=1)
df2022.head(5)

,JOB_TITLE,SOC_TITLE,BEGIN_DATE,EMPLOYER_NAME,EMPLOYER_CITY,EMPLOYER_STATE,WAGE_RATE_OF_PAY_FROM,WAGE_UNIT_OF_PAY,PREVAILING_WAGE,PW_UNIT_OF_PAY,H_1B_DEPENDENT
0,APPLICATIONS SUPPORT ANALYST/ADMINISTRATOR,"Software Developers, Applications",2021-10-01,SUEZ WATER MANAGEMENT & SERVICES INC.,Paramus,NJ,92000.0,Year,87485.0,Year,No
1,Designer,Mechanical Drafters,2021-10-11,"Sensors, Inc",Saline,MI,56181.0,Year,56181.0,Year,No
2,Data Analyst,Operations Research Analysts,2021-10-01,"HSP Group, Inc.",Bonita Springs,FL,60000.0,Year,59238.0,Year,No
3,Pharmaceutical Chemist,Chemists,2021-10-01,"ANIP Acquisitions, Inc.",Baudette,MN,56160.0,Year,53851.0,Year,No
4,Senior Systems Analyst JC60,Computer Systems Analysts,2021-10-15,COGNIZANT TECHNOLOGY SOLUTIONS US CORP,COLLEGE STATION,TX,70325.0,Year,70325.0,Year,Yes

______

#### Explore Data and Standarize Features

##### Date to Year

In [10]:
df2022['BEGIN_DATE'].describe()

count         625986
unique          1251
top       2022-10-01
freq          100201
Name: BEGIN_DATE, dtype: object

From consensus, salary among different days in one year should not differ from each other much.

So we care mostly about which year it is.

In [38]:
df2022['BEGIN_YEAR'] = df2022['BEGIN_DATE'].astype('str').map(lambda s: s[:4])
df2022['BEGIN_YEAR'].describe()

count     625986
unique         5
top         2022
freq      513283
Name: BEGIN_YEAR, dtype: object

In [39]:
df2022 = df2022.drop(labels=['BEGIN_DATE'], axis=1)

##### Standarize Salary

In [13]:
df2022['WAGE_UNIT_OF_PAY'].describe()

count     625986
unique         5
top         Year
freq      590810
Name: WAGE_UNIT_OF_PAY, dtype: object

In [14]:
df2022['PW_UNIT_OF_PAY'].describe()

count     625986
unique         5
top         Year
freq      591091
Name: PW_UNIT_OF_PAY, dtype: object

In [15]:
df2022['WAGE_UNIT_OF_PAY'].unique()

array(['Year', 'Hour', 'Bi-Weekly', 'Week', 'Month'], dtype=object)

* Different companies pay salary with different frequency. 

* Need to make them all in unit of Year.

* Assuming everyone works **40 hours per week, 4 weeks per month, 12 months per year**

In [40]:
for _, row in df2022.iterrows():
    unit = row['WAGE_UNIT_OF_PAY']
    wage = row['WAGE_RATE_OF_PAY_FROM']
    if unit == 'Hour':
        row['WAGE_RATE_OF_PAY_FROM'] = wage * 40 * 4 * 12
    elif unit == 'Bi-Weekly':
        row['WAGE_RATE_OF_PAY_FROM'] = wage * 2 * 12
    elif unit == 'Week':
        row['WAGE_RATE_OF_PAY_FROM'] = wage * 4 * 12
    elif unit == 'Month':
        row['WAGE_RATE_OF_PAY_FROM'] = wage * 12

    pw_unit = row['PW_UNIT_OF_PAY']
    pw = row['PREVAILING_WAGE']
    if pw_unit == 'Hour':
        row['PREVAILING_WAGE'] = pw * 40 * 4 * 12
    elif pw_unit == 'Bi-Weekly':
        row['PREVAILING_WAGE'] = pw * 2 * 12
    elif pw_unit == 'Week':
        row['PREVAILING_WAGE'] = pw * 4 * 12
    elif pw_unit == 'Month':
        row['PREVAILING_WAGE'] = pw * 12

In [41]:
df2022['SALARY'] = df2022['WAGE_RATE_OF_PAY_FROM'].round()
df2022['AVERAGE_SALARY'] = df2022['PREVAILING_WAGE'].round()
df2022 = df2022.drop(labels=['WAGE_UNIT_OF_PAY', 'PW_UNIT_OF_PAY', 'WAGE_RATE_OF_PAY_FROM', 'PREVAILING_WAGE'], axis=1)

In [18]:
df2022[['SALARY', 'AVERAGE_SALARY']].head(10)

     SALARY  AVERAGE_SALARY
0   92000.0         87485.0
1   56181.0         56181.0
2   60000.0         59238.0
3   56160.0         53851.0
4   70325.0         70325.0
5   90730.0         90730.0
6  130000.0        104291.0
7   90000.0         69888.0
8   98550.0         98550.0
9  106933.0        106933.0

##### Standarize City Name and Employer Name

In [19]:
df2022.head(5)

,JOB_TITLE,SOC_TITLE,EMPLOYER_NAME,EMPLOYER_CITY,EMPLOYER_STATE,H_1B_DEPENDENT,BEGIN_YEAR,SALARY,AVERAGE_SALARY
0,APPLICATIONS SUPPORT ANALYST/ADMINISTRATOR,"Software Developers, Applications",SUEZ WATER MANAGEMENT & SERVICES INC.,Paramus,NJ,No,2021,92000.0,87485.0
1,Designer,Mechanical Drafters,"Sensors, Inc",Saline,MI,No,2021,56181.0,56181.0
2,Data Analyst,Operations Research Analysts,"HSP Group, Inc.",Bonita Springs,FL,No,2021,60000.0,59238.0
3,Pharmaceutical Chemist,Chemists,"ANIP Acquisitions, Inc.",Baudette,MN,No,2021,56160.0,53851.0
4,Senior Systems Analyst JC60,Computer Systems Analysts,COGNIZANT TECHNOLOGY SOLUTIONS US CORP,COLLEGE STATION,TX,Yes,2021,70325.0,70325.0

In [20]:
df2022['EMPLOYER_CITY'].str.upper().describe()

count       625986
unique        6253
top       NEW YORK
freq         31334
Name: EMPLOYER_CITY, dtype: object

In [21]:
df2022['EMPLOYER_CITY'].describe()

count      625986
unique       8363
top       Seattle
freq        26298
Name: EMPLOYER_CITY, dtype: object

In [22]:
df2022['EMPLOYER_NAME'].str.upper().describe()

count                      625986
unique                      66105
top       AMAZON.COM SERVICES LLC
freq                        16304
Name: EMPLOYER_NAME, dtype: object

In [23]:
df2022['EMPLOYER_NAME'].describe()

count                      625986
unique                      68960
top       Amazon.com Services LLC
freq                        14653
Name: EMPLOYER_NAME, dtype: object

* We can see that after making EMPLOYER_CITY and EMPLOYER_NAME Uppercase, their unique number changed.
  
* So we need to standarize them.
  
* Using **UPPERCASE** to standarize them

In [42]:
df2022['EMPLOYER'] = df2022['EMPLOYER_NAME'].str.upper()
df2022['CITY'] = df2022['EMPLOYER_CITY'].str.upper()
df2022 = df2022.drop(labels=['EMPLOYER_NAME', 'EMPLOYER_CITY'], axis=1)
df2022.head(5)

,JOB_TITLE,SOC_TITLE,EMPLOYER_STATE,H_1B_DEPENDENT,BEGIN_YEAR,SALARY,AVERAGE_SALARY,EMPLOYER,CITY
0,APPLICATIONS SUPPORT ANALYST/ADMINISTRATOR,"Software Developers, Applications",NJ,No,2021,92000.0,87485.0,SUEZ WATER MANAGEMENT & SERVICES INC.,PARAMUS
1,Designer,Mechanical Drafters,MI,No,2021,56181.0,56181.0,"SENSORS, INC",SALINE
2,Data Analyst,Operations Research Analysts,FL,No,2021,60000.0,59238.0,"HSP GROUP, INC.",BONITA SPRINGS
3,Pharmaceutical Chemist,Chemists,MN,No,2021,56160.0,53851.0,"ANIP ACQUISITIONS, INC.",BAUDETTE
4,Senior Systems Analyst JC60,Computer Systems Analysts,TX,Yes,2021,70325.0,70325.0,COGNIZANT TECHNOLOGY SOLUTIONS US CORP,COLLEGE STATION

##### Standarize Job Titles

In [25]:
df2022['SOC_TITLE'].describe()

count                                625986
unique                                 1057
top       Software Developers, Applications
freq                                 167633
Name: SOC_TITLE, dtype: object

In [27]:
df2022['JOB_TITLE'].describe()

count                625986
unique               139328
top       Software Engineer
freq                  31255
Name: JOB_TITLE, dtype: object

* SOC_TITLE has 1k+ unique values while JOB_TITLE has 100k+ unique values.

* It's not practical to use JOB_TITLE as feature.

* Need to add some prior to standarize the JOB_TITLE.

In [43]:
df2022['SOC_TITLE'] = df2022['SOC_TITLE'].str.upper()

In [59]:
df2022[['SOC_TITLE', 'JOB_TITLE']].groupby(by='SOC_TITLE').count().reset_index(False).sort_values(by='JOB_TITLE', ascending=False).head(20)

                                            SOC_TITLE  JOB_TITLE
805                 SOFTWARE DEVELOPERS, APPLICATIONS     167786
799                               SOFTWARE DEVELOPERS      35509
200                         COMPUTER SYSTEMS ANALYSTS      34224
813             SOFTWARE DEVELOPERS, SYSTEMS SOFTWARE      33871
210             COMPUTER SYSTEMS ENGINEERS/ARCHITECTS      22569
476           INFORMATION TECHNOLOGY PROJECT MANAGERS      15994
180         COMPUTER AND INFORMATION SYSTEMS MANAGERS      15494
114                    BUSINESS INTELLIGENCE ANALYSTS      13778
829  SOFTWARE QUALITY ASSURANCE ENGINEERS AND TESTERS      12523
644                      OPERATIONS RESEARCH ANALYSTS      11641
555                              MECHANICAL ENGINEERS      11004
308            ELECTRONICS ENGINEERS, EXCEPT COMPUTER       9342
194                              COMPUTER PROGRAMMERS       9313
851                                     STATISTICIANS       9153
191                   COMPUTER OCCUPATIONS, ALL OTHER       8426
243                           DATABASE ADMINISTRATORS       8166
292                              ELECTRICAL ENGINEERS       7811
363                                FINANCIAL ANALYSTS       7765
2                            ACCOUNTANTS AND AUDITORS       7759
528                               MANAGEMENT ANALYSTS       7252

In [60]:
df2022[df2022['SOC_TITLE'] == 'STATISTICIANS'][['JOB_TITLE','SOC_TITLE']].groupby('JOB_TITLE').count().reset_index(False).sort_values(by='SOC_TITLE', ascending=False).head(20)

                              JOB_TITLE  SOC_TITLE
754                      Data Scientist        991
2193              Senior Data Scientist        346
848                   Data Scientist II        305
615                        Data Analyst        179
679                    Data Engineer II        134
845                    Data Scientist I        121
2451      Senior Statistical Programmer        102
677                     Data Engineer I         96
680                   Data Engineer III         91
756                     Data Scientist          88
579                      DATA SCIENTIST         84
1219                Lead Data Scientist         67
1617   Principal Statistical Programmer         66
671                       Data Engineer         59
2795                       Statistician         59
940          Data and Applied Scientist         57
1777            Quantitative Researcher         54
2169                Senior Data Analyst         53
855                  Data Scientist III         51
1592  Principal Associate, Data Science         51

* Notice that most jobs share similar titles, need to lemitize them
* Some jobs have specific levels and we should split them out into a column
* Some jobs are general while some are specific
  * Like Java Developer,

In [55]:
df2022_freq = df2022[['EMPLOYER_STATE','SALARY']]
df2022_freq = df2022_freq.groupby(by = 'EMPLOYER_STATE').mean().reset_index(drop=False)
df2022_freq.columns = ['EMPLOYER_STATE','Average Salary']
df2022_freq

   EMPLOYER_STATE  Average Salary
0              AK    66169.465839
1              AL   103394.946920
2              AR   129583.315073
3              AZ   107179.934260
4              CA   138828.534241
5              CO   100900.325616
6              CT   106369.894342
7              DC   105055.106594
8              DE   106006.187919
9              FL    94838.152768
10             FM    55355.333333
11             GA    94472.511053
12             GU    56148.819805
13             HI    96710.286853
14             IA    97521.294397
15             ID   113566.627451
16             IL   108487.745470
17             IN    95281.817428
18             KS    95208.084400
19             KY   101904.285954
20             LA   103245.341221
21             MA   110770.516384
22             MD    92600.428711
23             ME   126104.899471
24             MI    82882.135581
25             MN   107988.703092
26             MO   104497.328530
27             MP    22100.666667
28             MS   121435.100358
29             MT   102898.820225
30             NC   103284.333402
31             ND    91471.502326
32             NE    83936.599105
33             NH   102953.603624
34             NJ    99279.247915
35             NM    89008.808296
36             NV   110657.530544
37             NY   120215.645080
38             OH    93268.377892
39             OK    92549.270570
40             OR   115027.534785
41             PA   110304.707773
42             PR    62696.552239
43             RI   123505.843606
44             SC    81952.791519
45             SD    83773.293930
46             TN    98746.799451
47             TX    96947.157545
48             UT   102902.295207
49             VA   102527.791394
50             VI    47106.500000
51             VT   103400.294118
52             WA   136487.069296
53             WI   103454.383205
54             WV   171933.616715
55             WY    86809.629032

In [56]:
fig = px.choropleth(df2022_freq,
                    locations='EMPLOYER_STATE', 
                    locationmode="USA-states", 
                    scope="usa",
                    color='Average Salary',
                    color_continuous_scale="Viridis_r", 
                    )
fig.update_layout(
      title_text = 'Average Salary by State in 2022',
      title_font_family="Times New Roman",
      title_font_size = 22,
      title_font_color="black", 
      title_x=0.45, 
         )
fig.show()